@import '../bootstrap-4.6.0/scss/bootstrap.scss';



.jumbotron{
    padding: 176px 0 120px;
    background: linear-gradient(rgba(0,0,0,.5)), url(../immagini/trattore.jpg) no-repeat center/cover;
    color: #fff;
}
.col-md-6{
    margin-right:20px  ;
}
.container{
   margin-top: 24px;
   padding: 30px;

 
}
.form-group{
    
        background: #f2f2f2;
       width: 100%;
       padding: 100px;
    
       .container-fluid {
           margin-top: 200px;
           margin: 0 auto;
          max-width: 500px;
    
       }
    
        .text-center {
        color: #000;
        font-size: 21px;
        padding-left: 100px;
      }
    
       
   

}
.footer{
  background-color: #343434;
}


.sport{
    
        width: 1160px;
        height: 518px;
        margin: 40px 60px 57px;
        padding: 35px 35px 34px 34px;
        border-radius: 20px;
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.29);
        background-image: linear-gradient(113deg, #4e3cae 1%, #785aed);
 img{
    width: 530px;
    height: 449px;
    margin: 0 -23px 0 35px;
    border-radius: 2.8rem;

 }
  h3{
    color: white;
  }
  p{
    color: white;
  }
}

.navbar1 {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: 2rem 4.5rem;
    color: #fff;
    background: #343434;
    margin-top: -16px;
  }
.img1{
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 576px) { 
   
   .sport{
    width: 310px;
  height: 601px;
  margin: 30px 15px 52px;
  padding: 80px 19px 27px;
  border-radius: 20px;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.29);
  background-image: linear-gradient(151deg, #4e3cae 5%, #785aed 100%);
  .img {
    width: 271px;
    height: 231px;
    margin: 38px 0 0 1px;
  }
}

}
.img-2{
    border-radius: 20px;
} 
.Rectangle {
  width: 58px;
  height: 25px;
  margin: -243px 60px 0px 264px;
  background-color: #e77474;
  padding-left: 10px;
  position: absolute;
}
.row3{
  background-color: #44D7B6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px;
    color: #fff;
    font-size: 25px;
    .left{
      text-align: center;
      img{
        width: 100%;
        margin: 10px;
      }
    }
    .right{
      img{
        width: 50%;
        margin: 10px;
      }
      

      .p1{
        float: right;
        padding: 0px;
      }
    }

}
@media (max-width: 576px) {
  .sport img {
    width: 314px;
    height: 233px;
    margin: -76px -23px 0 35px;
    border-radius: 2.8rem;
    flex:reverse;
  }
  .row3 .right img {
    width: 100%;
    margin: 10px;
  }
  .Rectangle {
    width: 58px;
    height: 25px;
    margin: -217px -1px 3px 173px;
    background-color: #e77474;
    padding-left: 10px;
    position: absolute;
  }
  .form-group .text-center {
    
    padding-left: 0px;
  }

}